.header-container{
    display: flex;
    height: 15vh;
    background-color: #ffffff;
}

.header-logo-ipn{
    height: auto;
    width: auto;
    margin: 1vh 1vw 1vh 4vw;
}

.header-tema-tesis{
    height: auto;
    width: auto;
    font-size: 200%;
    margin:2vh 5% 1vh 5%;
}

.header-logo-upiita{
    height: auto;
    width: auto;
    margin: 1vh 4vw 1vh 1vw;
    display: block;
}

@media only screen and (max-width: 768px) {
    .header-container{
        max-width: 100vw;
    }

    .header-logo-ipn{
        width: 50vw;
    }
    
    .header-tema-tesis{
        width: 50vw;
    }

    .header-logo-upiita{
        width: 50vw;
        float: left;
    }
}